.issues {
  display: block;
  padding: 20px;

  >* {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  &--body {
    display: block;

    >* {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }

  &--header {
    display: table;
    width: 100%;
  }

  &--header-item {
    float: left;

    &:not(:last-of-type) {
      padding-right: 20px;
    }
  }
}