.input {
  &--element,
  &--label {
    display: block;
  }

  >* {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  &--element {
    input {
      border: 1px solid #ddd;
      padding: 10px 8px;
    }
  }
}