.issue-item {
  display: block;
  border-radius: 6px;
  padding: 20px;
  background: #fafafa;

  >* {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  &--title,
  &--status,
  &--author {
    display: block;
  }

  &--title {
    h2 {
      font-size: 18px;
    }
  }

  &--status {
    span {
      padding: 4px;
      border-radius: 2px;
      background: #ddd;
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 600;
    }
  }
}

// States
.issue-item {
  &:hover {
    background: #ddd;
  }
}

// Animations
.issue-item {
  transition-property: background;
  transition-duration: .3s;
}
